body {
  font-size: 16px;
  color: #fff;
  background-color: #00000a;
  font-family: 'Oxygen', sans-serif;
  width: max-size;
}

.container {
  overflow: hidden;
}

/** HEADER **/
#header-nav {
  background-color: #000;
  border-radius: 0;
  border: 0;
  z-index: 5
  padding-bottom: 0px;
}

#nav-list {
  margin-top: 0px;
}
#nav-list a {
  color: #fff;
  text-align: top;
}
#nav-list a:hover {
  background: #000;
  color: blue;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header .navbar-header {
  border: 0px solid #fff;
  background: 000;
  clear: both;
  top: 0px;
  position: absolute;
  padding-bottom: 0px;
}
/* END HEADER */

/* Page Config */

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    padding: 16px;
    float: left;
    width: 70%;
    flex: 1;
}

/* PAGE DIVISION INTO TWO VERTICALLY*/

* {
  box-sizing: border-box;
}

#left {
  width: 70%;
  background-color: #0d0d0d;
  color: #fff;
}

.properties {
  padding top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

#right {
  width: 30%;
  background-color: #00000a;
  color: #fff;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: flex;
  clear: both;
}

/* Responsive Layout */

@media screen and (max-width: 600px) {
  .column {
    display: block;
    width: 100%;
  }
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}
/* END OF PAGE DIVIDER */

/* HOMEPAGE 2 */
.profile {
  color: #fff;
  text-align: justify;
}

#profile_heading {
  color: #fff;
  text-decoration: underline;
  text-align: left;
  padding-left: 15px;
}

#core_values {
  text-transform: bold;
}

/* END HOMEPAGE 2 */

/* ELEMENTS STYLING */

#profile_styling {
  background-color: yellow;
  color: #000;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 15px;
}

#one {
font-weight: 300;
}

#two {
padding-left: 100px;
padding-top: 15px;
padding-right: 0px;
padding-bottom: 15px;
margin-top: 15px;
margin-left: -5px;
}

#three {

}

.work_historyone {
  background-color: yellow;
  color: #000;
}

.skills_styling {
  background-color: yellow;
  margin-left: -10px;
  padding-right: 5px;
  padding-top: 1.7px;
  padding-bottom: 1.7px;
}

.certificates_styling {
  margin-left: -20px;
}

/* FOOTER */

.panel_footer {
  background-color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* END OF FOOTER */